<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="theme-header">
        <ion-title>Change Password</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <div class="main">
        <div class="image">
            <img src="assets/image/logo.png">
        </div>
    </div>
    <div class="content-sec">
        <div class="sign">
            <form class="form-sec" #changepasswordForm="ngForm" (submit)="changepassword(changepasswordForm)">
                <ion-list>
<div class="itemouter">
                    <ion-item>
                        <ion-label stacked>Enter your old password</ion-label>
                        <ion-input type="ptype" [(ngModel)]="data.oldpassword" name="oldpassword" #oldpassword="ngModel"  pattern="(?!^[0-9]*$)(?!^[0-9@/*/-/#/&/^/$/\/|/;/_/,/~/?/!/./''/`/<>/%/:/{}/()/+/=]*$)(?!^[a-zA-Z@/*/#/&/^/$/;/_/,/~/?/\/|/''/-/`/./\/!/<>/%/:/()/{}/+/=]*$)(?!^[a-zA-Z0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9@/*/#/&/$/;/_/{}/%/:/^/?/~/`/''/|/,/-/<>/!/\/./()/+/=]{6,30})"   required></ion-input>
                    </ion-item>
                    <ion-icon name="{{iconname}}" (click)="showPassword()" ></ion-icon> 
                    <div *ngIf="oldpassword.errors && (oldpassword.dirty || oldpassword.touched)">
                        <div [hidden]="!oldpassword.errors.required">
                            Password is required
                        </div>
                        <div [hidden]="!oldpassword.errors.minlength">
                            Password must be at least 6 digits
                        </div>
                        <div [hidden]="!oldpassword.errors.pattern">
                            Password is weak(It should be combination of a-z,A-Z,0-9,@*#)
                        </div>

                    </div>
</div>
                    <div class="itemouter">
                    <ion-item>
                        <ion-label stacked>Enter your new password</ion-label>
                        <ion-input type="ptype1" [(ngModel)]="data.newpassword" name="newpassword" #newpassword="ngModel"    pattern="(?!^[0-9]*$)(?!^[0-9@/*/-/#/&/^/$/\/|/;/_/,/~/?/!/./''/`/<>/%/:/{}/()/+/=]*$)(?!^[a-zA-Z@/*/#/&/^/$/;/_/,/~/?/\/|/''/-/`/./\/!/<>/%/:/()/{}/+/=]*$)(?!^[a-zA-Z0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9@/*/#/&/$/;/_/{}/%/:/^/?/~/`/''/|/,/-/<>/!/\/./()/+/=]{6,30})"   required></ion-input>
                    </ion-item>
                    <ion-icon name="{{iconname1}}" (click)="showPassword1()" ></ion-icon> 
                    <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)">
                        <div [hidden]="!newpassword.errors.required">
                            Password is required
                        </div>
                        <div [hidden]="!newpassword.errors.minlength">
                            Password must be at least 6 digits
                        </div>
                        <div [hidden]="!newpassword.errors.pattern">
                            Password is weak(It should be combination of a-z,A-Z,0-9,@*#)
                        </div>

                    </div>
                    </div>
                    <div class="itemouter">
                    <ion-item>
                        <ion-label stacked>Confirm your new password</ion-label>
                        <ion-input type="ptype2" [(ngModel)]="data.cnewpassword" name="cnewpassword" #cnewpassword="ngModel"  validateEqual="changepasswordForm.value.newpassword"   pattern="(?!^[0-9]*$)(?!^[0-9@/*/-/#/&/^/$/\/|/;/_/,/~/?/!/./''/`/<>/%/:/{}/()/+/=]*$)(?!^[a-zA-Z@/*/#/&/^/$/;/_/,/~/?/\/|/''/-/`/./\/!/<>/%/:/()/{}/+/=]*$)(?!^[a-zA-Z0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9@/*/#/&/$/;/_/{}/%/:/^/?/~/`/''/|/,/-/<>/!/\/./()/+/=]{6,30})"   required></ion-input>
                    </ion-item>
                    <ion-icon name="{{iconname2}}" (click)="showPassword2()" ></ion-icon> 
                    <ion-label class="alert alert-danger" color="danger">
                        <div *ngIf="cnewpassword.errors && (cnewpassword.dirty || cnewpassword.touched)">
                            <div [hidden]="!cnewpassword.errors.required">
                                Password is required
                            </div>
                            <div [hidden]="!cnewpassword.errors.minlength">
                                Password must be at least 6 digits
                            </div>
                            <div [hidden]="!cnewpassword.errors.pattern">
                                Password is weak(It should be combination of a-z,A-Z,0-9,@*#)
                            </div>

                        </div>

                        <!--<div *ngIf="registrationForm.value.password != registrationForm.value.cpassword">
                   Password mismatch
                 </div>-->


                        <!--<span class="spn" ng-show="data.password != data.cpassword">Your passwords must match.</span>-->
                    </ion-label>
                    </div>
                </ion-list>
                <div class="frgtpwd">
                    <button ion-button type="submit" [disabled]="!changepasswordForm.valid">Save</button>
                </div>
            </form>
        </div>


    </div>
</ion-content>
