page-geolocation {
.btnprofile{
  color: #fff;
}
.footer .enter .text-input{
    margin:0px;
 }
    .btncolor{    
    float: right;
    position: absolute;
    right: 0px;
    top: 0;
}
.button-ios-btncolor {
    float: right;
    position: absolute;
    right: 20px;
    top: 13px;
    height: 31px;
    margin: 0px;

}
.enter.entrssss.input{
    position: relative;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 49px;
    line-height: 49px;
    padding-left: 23px;
    box-shadow: 0 0 10px #656565;
}
.locationicon{
    position: absolute;
    top: 20px;
    left: 11px;
    height: 20px;
    width: 20px;
}


.enter.entrssss.input.input {
    position: relative;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 49px;
    line-height: 49px;
    padding-left: 23px;
    -webkit-box-shadow: 0 0 10px #656565;
    box-shadow: 0 0 10px #656565;
    font-size: 12px;
    font-family: roboto;
    font-weight: 500;
}


.button-inner {
    font-family: roboto;
    font-size: 14px;
    font-weight: 700;
}
.button-md-btncolor {
    color: #fff;
    background-color: #ff563f;
    float: right;
    position: absolute;
    right: 20px;
    top: 13px;
    height: 31px;
    margin: 0px;
}

}