<!--
  Generated template for the AddspecialitiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme-header">
    <ion-title>Add Specialities</ion-title>

  </ion-navbar>
  
</ion-header>

<ion-content>
    <div class="content-text">
  <h1 style="font-size:14px">Add Specialities</h1>
  </div>
  <div class="content-sec">
  <div class="sign">
   <form class="form-sec" #specialityform="ngForm" novalidate>
    <ion-list>
         <ion-grid>
          <ion-row>
               <ion-col col-12 class="left right">
        <ion-item>
          <ion-label stacked>ADD SPECIALITY CUISINE </ion-label>
          <ion-input type="text" [(ngModel)]="data.specialtiescuisine" name='specialtiescuisine' #specialtiescuisine="ngModel" required></ion-input>
        </ion-item>
            <div class="alert alert-danger" color="danger">
            <div *ngIf="specialtiescuisine.errors && (specialtiescuisine.dirty || specialtiescuisine.touched)">
              <div [hidden]="!specialtiescuisine.errors.required">
                Speciality Cuisine is required
              </div>
            </div>
          </div>
      </ion-col>
            <ion-col col-12 class="left right">
        <ion-item>
          <ion-label stacked>SPECIALITIES PRODUCT </ion-label>
          <ion-input type="text" [(ngModel)]="data.specialtiesproduct" name='specialtiesproduct' #specialtiesproduct="ngModel" required></ion-input>
        </ion-item>
            <div class="alert alert-danger" color="danger">
            <div *ngIf="specialtiesproduct.errors && (specialtiesproduct.dirty || specialtiesproduct.touched)">
              <div [hidden]="!specialtiesproduct.errors.required">
                Speciality Product is required
              </div>
            </div>
          </div>
      </ion-col>
      <ion-col col-12 class="left right">
        <ion-item>
          <ion-label stacked>PRODUCT INGREDIENTS</ion-label>
          <ion-input type="text"  [(ngModel)]="data.addingredients" name="addingredients" #addingredients="ngModel" required></ion-input>
        </ion-item>
             <div class="alert alert-danger" color="danger">
            <div *ngIf="addingredients.errors && (addingredients.dirty || addingredients.touched)">
              <div [hidden]="!addingredients.errors.required">
                Product Ingridients are required
              </div>
            </div>
          </div>
      </ion-col>
     </ion-row>
      </ion-grid>
    </ion-list>
  

<br>

<div class="add">
  <h2 >ADD PRODUCT IMAGE</h2>
<ion-grid style="padding:0;">
  <ion-row>
    <ion-col col-3 style="padding-left:0px;">
      <div class="image" >

           <img *ngIf="srcImage" class="pick0" [src]="srcImage" >
 <img *ngIf="!srcImage" class="pick0" src="assets/image/profile_img.png">
 <!--<img *ngIf="!srcImage" class="pick0" src="assets/image/profile_img.png">-->
     
      </div>
      </ion-col>


      <ion-col col-3 style="padding-left:0px;">
      <div class="image">
      <img *ngIf="srcImage1" class="pick0" [src]="srcImage1">
 <img *ngIf="!srcImage1" class="pick0" src="assets/image/profile_img.png">
      </div>
      </ion-col><!--


-->      <ion-col col-3 style="padding-left:0px;">
      <div class="image">
   <img *ngIf="srcImage2" class="pick0" [src]="srcImage2">
 <img *ngIf="!srcImage2" class="pick0" src="assets/image/profile_img.png">
      </div>
      </ion-col>


<ion-col col-3 style="padding-left:0px;" *ngIf="arr.length<3" >
  <div class="input-sec"  (click)="CameraAction()">
      <div class="upld">
       
       <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </div>
      </div>
      </ion-col>

   
  </ion-row>
</ion-grid>
</div>
  
 </form>
  </div>

 
 <div class="plusbtn">
<button ion-fab mini (click)="Addspeciality(specialityform)" [disabled]="!specialityform.valid" ><ion-icon name="add"></ion-icon></button>

</div>
  


</div>
</ion-content>


