page-payment {
 .content .top{
  width: 100%;
  float: left;
  padding-bottom: 3px;
 }
 .content .top h2{
  font-size: 14px;
  font-family: roboto;
  font-weight: 700;
  color: #111111;
  width: 100%;
  float: left;
 }
 .content .list .item{
  border: none;
     background-color: #f2f2f2;
     border-radius: 5px;
     margin-bottom: 16px;
     padding-top: 7px;
     padding-bottom: 5px;
 }
 .content .list .item{
  color: #6a6a6a;
 }
 .content .list .item .item-inner{
  border:none;
 }
 .content .list .item h3{
  width: 100%;
  float: left;
  color: #111111;
  font-size: 14px;
  font-weight: 700;
 }
 .content .list .item p{
  width: 100%;
  float: left;
  color: #565656;
  font-size: 14px;
  font-weight: 500;
 }
 .content .list .item ion-thumbnail{
     min-height: auto;
     min-width: auto;
     width: 42px;
     height: 32px;
     margin: 7px 12px 10px 0;
 }
 .content .list .item ion-thumbnail img{
  margin: 0;
     float: left;
     width: 100%;
     height: 100%;
 }
 .ion-md-arrow-forward:before{
     content: "\f3d1";
 }

}