page-addproduct {
     .back-button{
        display: none !important;
    }
    .content-text h1{
    width: 100%;
    margin-bottom: 7px;
    text-align: center;
    color: #ff563f;
    font-size: 14px;
    font-family: roboto;
    font-weight: 700;
 }

    .backgroundbanner {
    position: relative;
    text-align: center;
    width: 100%;
    float: left;
  }
 .content{
  width: 100%;
  float: left;
 }

  .content-sec{
  width: 100%;
  float: left;
  padding:0px 30px 50px 30px;

 }
 .content-sec .sign{
  width: 100%;
  float: left;
  margin-top: 25px;

 }
 .content-sec .sign .form-sec{
  width: 100%;
  float: left;
 }
 .content-sec .sign .form-sec .list{
  width: 100%;
  float: left;
  margin-bottom: 0px;
 }
 .content-sec .sign .form-sec .list .grid{
   padding: 0px;
 
 }
 .content-sec .sign .form-sec .list .item .item-inner{
  border-bottom: 0.55px solid #c8c7cc;
 }
 .content-sec .sign .form-sec .list .item input{
  font-size: 13px;
        margin-top: 0px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-right: 0px;
        width: 100%;
 }
 
 .content-sec .frgtpwd{
  width: 100%;
  float: left;
  padding-top: 12px;
 }
 .frgtpwd button{
  width: 100%;
  float: left;
  background-color: #ff563f;
  font-weight: 500;
        margin-top: 188px;
 }
 
 .left{
  padding-left: 0px;
 }
 .right{
  padding-right: 0px;
  float: left;
 }
 .right.gender .item{
    font-size: 13px;
    margin-top: 0px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 0px;
    width: 100%;
    min-height: 2.9rem;
 }
 .right.gender .item .select{
 padding: 0px !important;
    width: 100%;
    float: left;
    font-size: 13px;
    color: #000;
    font-weight: 500;
    max-width: 100%;
 }
 .right.gender .item .select .select-icon{
      width: 19px;
 }
 .right.gender .label{
  margin-bottom: 0px;
    margin-top: 10px;
    color: #a6a6a6;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.5px;
 }
.button {
        float: right;
    margin-top: 10px;
    padding-bottom: 0px;
}
.plusbtn{
  position: absolute;
  right: 0;
}
.plusbtn button{
  background-color: #ff563f;

}
.skipbtn {
  position: absolute;
  bottom: 17px;
  left: 120px;
}
#menu ul{
  list-style: none;
}
#menu li{
  display: inline;
}

.circle-top{
   width:100%;
   float: left;
   background-color:#f2f2f2;
 }
 .circle-top ul{
   width: 100%;
    float: left;
    list-style-type: none;
    padding: 0px;
    text-align: center;
 }

  .circle-top li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #6a6a6a !important;
    display: inline-block;
    margin: 0px 45px;
  }
 .circle-line {
       width: 71%;
    height: 2px;
    background-color: #6a6a6a;
    position: absolute;
    top: 21px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0;
    margin-top: 63px;
}
.one-circle{
  background-color: #ff563f;

}

.footer .toolbar {
  padding: 0px;
}

.footer .toolbar .button { 
  margin: 0px;
 }
.circle-top li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff563f;
    border: 1px solid #6a6a6a !important;
    display: inline-block;
    margin: 0px 45px;
    position: relative;
    z-index: 2;

}
.circle-line {
    width: 71%;
    height: 2px;
    background-color: #6a6a6a;
    position: absolute;
    top: 21px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0;
    margin-top: 63px;
    z-index: 1;
}

.latter {
        font-size: 12px;
    color: #6a6a6a;
    font-weight: 500;
    font-family: roboto;
   
    
}

    .padding{
      margin-top: 10px;
    padding: 0px;
    border: 0px;

}
   .col-sm-4 {
      
    width: 65px;
    height: 60px;
    margin-left:0px;
}
    .img {
    margin-left: 0px;
    padding: 0px;
  margin-left: -11px;
}


  
  .plus .icon.icon-ios.ion-ios-add { 
    width: 30px;
    height: 30px;
    font-size: 52px;
    text-align: center;
    margin-left:0px;
    width: 65px;
    height: 60px;
    
    
    
}
.addproduct{
  width: 100%;
  float: left;
  padding-bottom: 20px;
}


    button.fab{
      box-shadow: 0 0 7px #656565;
}

.row{
  margin-top: 5px;
}

.why{
    margin-bottom: 0px;
    margin-top: 10px;
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

 .main {
    margin-top: 2rem;
    font-size: 14px;
    color: #ff563f;
    font-weight: 700;
    font-family: roboto;
}

.maxium{    
    text-align: right;
    font-size: 12px;
    color: #6a6a6a;
    font-weight: 500;
    width: 100%;
    float: left;
}


.content-sec .sign .form-sec .list .item {
    width: 100%;
    float: left;
    padding: 0px;
    border: none;
}

    
    
    
    
    


   .input.text-input.text-input-ios{
      font-size: 13px;
    margin-top: 0px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 0px;
    width: 100%;
}
   

.add h2 {
    margin-bottom: 0px;
    margin-top: 10px;
    color: #a6a6a6;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 11px;
}

    
   #lbl-5{
    margin-bottom: 0px;
    margin-top: 10px;
    color: #a6a6a6;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-weight: 500;
    font-family: roboto;
}
 #lbl-57{
   margin-bottom: 0px;
    margin-top: 10px;
    color: #a6a6a6;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-weight: 500;
    font-family: roboto;
 }

.input.text-input.text-input {
    font-size: 13px;
    margin-top: 0px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 0px;
    width: 100%;
}
   .span{

    font-size: 9px;
    font-family: roboto;
    font-weight: 500;
}

.item {
   padding:0 !important;
   
}
.button-inner{
    font-size: 14px;
    font-family: roboto;
    font-weight: 700;
    color: #a6a6a6;
    

}


#lbl-176{
margin-bottom: 0px;
    margin-top: 10px;
    color: #a6a6a6;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-weight: 500;
    font-family: roboto;
}



input.text-input.text-input-ios{
    font-size: 13px;
    margin-top: 0px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 0px;
    width: 100%;
}
.label{
  font-size: 12px;
    margin-top: 0px;
    font-weight: 500;
    font-family: roboto;
    color: #a6a6a6;
    letter-spacing: 1px;
    margin-right: 0px;
    width: 100%;
}


.item-label-stacked .select-ios, .item-label-floating .select {
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 9px;
}









.button{
    border-radius: 4px;
    height: 2.8em;
    font-size: 1.6rem;
    color: #fff;
    background-color: #ff563f;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
    text-align: center;
    margin-top: 30px;
    width: 50%;
}


.left_box .input-sec{
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  box-shadow: 0 0 5px #656565;
  overflow: hidden;
  background-color: #f27242;
  position:absolute;
  border-radius: 50%;
  top: 70px;
  left: 44px;

 }
 .left_box .input-sec .upld{
  width: 100%;
  float: left;
  position: relative;
 }
 .left_box .input-sec input{
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    opacity: 0;
 }


 .select-text {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 16px;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    font-family: roboto;
    font-weight: 500;
}

   .input-sec .icon{
    height: 57px;
    width: 100%;
    line-height: 56px;
    text-align: center;
    font-size: 46px;
    cursor: pointer;
}

    .upld input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width:100%;
    height: 57px;
    opacity: 0;
    z-index: 999;
}

.upld {
    position: relative;
    height: 57px;
    width: 100%;
    background-color: #f2f2f2;
}

.footer .toolbar .button {
    margin: 0px;
    width: 100%;
}
.image{
    width: 100%;
    float: left;
    height: 57px;
}

.fab-md {
    color: #fff;
    background-color: #f27242;
}

.fab {
    color: #fff;
    background-color: #f27242;
}

.image img{
    width: 100%;
    border: 0;
     height: 100%;
    float: left;
}


.active{
    padding: 0;
    width: 100%;
    max-width: 100%;
}
.active .select-icon {
    position: relative;
    width: 17px;
    height: 18px;
}

// .select-ios .select-icon .select-icon-inner {
//     right: 0px;
//     top: 50%;
//     margin-top: -2px;
//     position: absolute;
//     width: 0;
//     height: 0;
//     border-top: 5px solid;
//     border-right: 5px solid transparent;
//     border-left: 5px solid transparent;
//     pointer-events: none;
// }


    .datetime-text{
    font-size: 13px;
    margin-top: 0px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 0px;
    width: 100%;
}


.active .select-text {
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    font-family: roboto;
    font-weight: 500;
}


.button-inner {
    font-size: 14px;
    font-family: roboto;
    font-weight: 700;
    color: #fff;
}
   textarea.text-input{
        font-size: 13px;
    font-family: roboto;
    font-weight: 500;

}
.toolbar-md {
  
    min-height:0;
}

.label {
    font-size: 12px;
    font-weight: 500;
    font-family: roboto;
    color: #a6a6a6;
    letter-spacing: 1px;
    margin-right: 0px;
    width: 100%;
 
}


.back-button.show-back-button {

    z-index: 9999;
}

r1-tags-input .r1-tags-input .iti-tag-color {
    background-color: #ff563f;
    color: white;
}
[_nghost-c1] {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 25px;
    line-height: 25px;
    background-color: #ff563f;
    color: white;
    margin-top: 10px;
}
.ng2-tag-input-focus[_nghost-c0] {
    box-shadow: none !important;
}

[_nghost-c1] .ng2-tag-input-remove[_ngcontent-c1] {
    font-size: 14px;
    height: 18px;
    line-height: 19px;
    width: 18px;
    background-color: #ff563f;
    color:#fff;
}
[_nghost-c0]{
    border-bottom: 0.55px solid #c8c7cc;
    box-shadow: none;
}
[_nghost-c0] .ng2-tag-input-field[_ngcontent-c0] {
    font-size: 13px;
    margin-top: 0px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 0px;
}

//   .upld .ion-icon.icon.icon-md.ion-md-add {
//     text-align: center;
//     font-size: 30px;
//     /* margin: 15px 15px 15px 15px; */
//     position: absolute;
//     /* float: left; */
//     width: 100%;
//     margin-top: 10px;
// }

}
ion-alert[role="dialog"]{
    .alert-wrapper{
        .alert-head{
            h2.alert-title{
                font-size: 16px !important;
            }
        }
    }
}


